In [9]:
import pandas as pd

In [43]:
cities = pd.DataFrame({
    "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
  'lat' : ["-33.8688", "-37.8136", "-27.4698", "-31.9505", "-34.9285"],
   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"]
})
cities.dtypes

city    object
lat     object
lon     object
dtype: object

In [45]:
for row in cities["city"]:
    lat1=cities["lat"].astype(float)
    lon1=cities["lon"].astype(float)
lat1
lon1

0    151.2094
1    144.9631
2    153.0251
3    115.8605
4    138.6007
Name: lon, dtype: float64

In [46]:
cities = pd.DataFrame({
    "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
    "entity_ID" : ["260", "259", "298", "296", "297"]
    })
cities["entity_ID"].astype(int)

0    260
1    259
2    298
3    296
4    297
Name: entity_ID, dtype: int32

In [35]:
for row in cities["city"]:
    ID=cities["entity_ID"]

ID

0    260
1    259
2    298
3    296
4    297
Name: entity_ID, dtype: object

In [41]:
cities.dtypes

city         object
entity_ID    object
dtype: object