In [59]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
from pprint import pprint
from pyzomato import Pyzomato

# Zomato API Key
from config import z_key

# Output File (CSV)
output_data_file = "output_data/restaurants.csv"

In [163]:
p = Pyzomato(z_key)

# set up other lists to hold data info
restaurant_name = []
restaurant_id = []
restaurant_address = []
restaurant_locality = []
restaurant_city = []
latitude = []
longitude = []
zip_code = []
cuisines = []
price_range = []
average_cost_for_two = []
user_rating = []
rating_text = []
votes = []
all_reviews_count = []

#Set up a dictionary with the latitude and longitude of the five cities we are interested in:

#cities = {
 #   "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
 #   'lat' : ["-33.8688", "37.8136", "-27.4698", "-31.9505", "-34.9285"],
 #   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"] 
#}

#Data for 100 top restaurants in Sydney - Category =10  - dinner:

# Create a loop that iterates five times starting from 0th record and increases by increments of 20
for a in range(0,100,20):
    response = p.search(lat="-33.8688",lon="151.2094",
                           count=20,
                           sort='rating',
                           order='desc',
                           category=(10),
                           start=a)
    for i in range(0,20,1):
        try:
            restaurant_id.append(response["restaurants"][i]["restaurant"]['id'])
            restaurant_name.append(response["restaurants"][i]["restaurant"]['name'])
            restaurant_locality.append(response["restaurants"][i]["restaurant"]["location"]["locality"])
            restaurant_address.append(response["restaurants"][i]["restaurant"]["location"]["address"])
            restaurant_city.append(response["restaurants"][i]["restaurant"]["location"]["city"])
            latitude.append(response["restaurants"][i]["restaurant"]["location"]["latitude"])
            longitude.append(response["restaurants"][i]["restaurant"]["location"]["longitude"])
            zip_code.append(response["restaurants"][i]["restaurant"]["location"]["zipcode"])
            cuisines.append(response["restaurants"][i]["restaurant"]['cuisines'])
            price_range.append(response["restaurants"][i]["restaurant"]['price_range'])
            average_cost_for_two.append(response["restaurants"][i]["restaurant"]['average_cost_for_two'])
            user_rating.append(response["restaurants"][i]["restaurant"]["user_rating"]['aggregate_rating'])
            rating_text.append(response["restaurants"][i]["restaurant"]["user_rating"]['rating_text'])
            votes.append(response["restaurants"][i]["restaurant"]["user_rating"]['votes'])
            all_reviews_count.append(response["restaurants"][i]["restaurant"]["all_reviews_count"])
        except KeyError:
            print(f"restaurant not found! Skipping")
            pass
    
print("---------------------------")
print("Data Retrieval Complete")

---------------------------
Data Retrieval Complete

In [181]:
#Convert Raw data to DataFrame

sydney_df = pd.DataFrame({
    'Restaurant_id': restaurant_id,
    'Name': restaurant_name,
    'Locality':restaurant_locality,
    'Address':restaurant_address,
    'City': restaurant_city,
    'Latitude': latitude,
    'Longitude': longitude,
    'Zip Code': zip_code,
   'Cuisines' : cuisines,
    'Price Range' :price_range,
    'Average Cost for two' :average_cost_for_two,
    'User Rating' : user_rating,
    'Rating Text' : rating_text,
    "Votes" : votes,
    "all_reviews_count": all_reviews_count
})

sydney_df.count()
#Exporting the DataFrame into a csv
sydney_df.to_csv('output_data/restaurants_category_10_sydney.csv')

In [182]:
#As a Zomato API has a limitation of 100 restaurants per call, we couldn't create a loop for the five cities.
#Unfortunately we have to repeat our code five times to generate five different dataframes.

p = Pyzomato(z_key)

# set up other lists to hold data info
restaurant_name = []
restaurant_id = []
restaurant_address = []
restaurant_locality = []
restaurant_city = []
latitude = []
longitude = []
zip_code = []
cuisines = []
price_range = []
average_cost_for_two = []
user_rating = []
rating_text = []
votes = []
all_reviews_count = []

#Set up a dictionary with the latitude and longitude of the five cities we are interested in:
#cities = {
 #   "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
 #   'lat' : ["-33.8688", "-37.8136", "-27.4698", "-31.9505", "-34.9285"],
 #   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"] 
#}

#Data for 100 top restaurants in Melbourne - Category =10  - dinner:

# Create a loop that iterates five times starting from 0th record and increases by increments of 20
for a in range(0,100,20):
    response = p.search(lat="-37.8136",lon="144.9631",
                           count=20,
                           sort='rating',
                           order='desc',
                           category=(10),
                           start=a)
    for i in range(0,20,1):
        try:
            restaurant_id.append(response["restaurants"][i]["restaurant"]['id'])
            restaurant_name.append(response["restaurants"][i]["restaurant"]['name'])
            restaurant_locality.append(response["restaurants"][i]["restaurant"]["location"]["locality"])
            restaurant_address.append(response["restaurants"][i]["restaurant"]["location"]["address"])
            restaurant_city.append(response["restaurants"][i]["restaurant"]["location"]["city"])
            latitude.append(response["restaurants"][i]["restaurant"]["location"]["latitude"])
            longitude.append(response["restaurants"][i]["restaurant"]["location"]["longitude"])
            zip_code.append(response["restaurants"][i]["restaurant"]["location"]["zipcode"])
            cuisines.append(response["restaurants"][i]["restaurant"]['cuisines'])
            price_range.append(response["restaurants"][i]["restaurant"]['price_range'])
            average_cost_for_two.append(response["restaurants"][i]["restaurant"]['average_cost_for_two'])
            user_rating.append(response["restaurants"][i]["restaurant"]["user_rating"]['aggregate_rating'])
            rating_text.append(response["restaurants"][i]["restaurant"]["user_rating"]['rating_text'])
            votes.append(response["restaurants"][i]["restaurant"]["user_rating"]['votes'])
            all_reviews_count.append(response["restaurants"][i]["restaurant"]["all_reviews_count"])
        except KeyError:
            print(f"restaurant not found! Skipping")
            pass
    
print("---------------------------")
print("Data Retrieval Complete")

#Convert Raw data to DataFrame

melbourne_df = pd.DataFrame({
    'Restaurant_id': restaurant_id,
    'Name': restaurant_name,
    'Locality':restaurant_locality,
    'Address':restaurant_address,
    'City': restaurant_city,
    'Latitude': latitude,
    'Longitude': longitude,
    'Zip Code': zip_code,
   'Cuisines' : cuisines,
    'Price Range' :price_range,
    'Average Cost for two' :average_cost_for_two,
    'User Rating' : user_rating,
    'Rating Text' : rating_text,
    "Votes" : votes,
    "all_reviews_count": all_reviews_count
})


#Exporting the DataFrame into a csv
melbourne_df.to_csv('output_data/restaurants_category_10_melbourne.csv')

---------------------------
Data Retrieval Complete

In [183]:
#Brisbane data

p = Pyzomato(z_key)

# set up other lists to hold data info
restaurant_name = []
restaurant_id = []
restaurant_address = []
restaurant_locality = []
restaurant_city = []
latitude = []
longitude = []
zip_code = []
cuisines = []
price_range = []
average_cost_for_two = []
user_rating = []
rating_text = []
votes = []
all_reviews_count = []

#Set up a dictionary with the latitude and longitude of the five cities we are interested in:
#cities = {
 #   "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
 #   'lat' : ["-33.8688", "-37.8136", "-27.4698", "-31.9505", "-34.9285"],
 #   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"] 
#}

#Data for 100 top restaurants in Brisbane - Category =10  - dinner:

# Create a loop that iterates five times starting from 0th record and increases by increments of 20
for a in range(0,100,20):
    response = p.search(lat="-27.4698",lon="153.0251",
                           count=20,
                           sort='rating',
                           order='desc',
                           category=(10),
                           start=a)
    for i in range(0,20,1):
        try:
            restaurant_id.append(response["restaurants"][i]["restaurant"]['id'])
            restaurant_name.append(response["restaurants"][i]["restaurant"]['name'])
            restaurant_locality.append(response["restaurants"][i]["restaurant"]["location"]["locality"])
            restaurant_address.append(response["restaurants"][i]["restaurant"]["location"]["address"])
            restaurant_city.append(response["restaurants"][i]["restaurant"]["location"]["city"])
            latitude.append(response["restaurants"][i]["restaurant"]["location"]["latitude"])
            longitude.append(response["restaurants"][i]["restaurant"]["location"]["longitude"])
            zip_code.append(response["restaurants"][i]["restaurant"]["location"]["zipcode"])
            cuisines.append(response["restaurants"][i]["restaurant"]['cuisines'])
            price_range.append(response["restaurants"][i]["restaurant"]['price_range'])
            average_cost_for_two.append(response["restaurants"][i]["restaurant"]['average_cost_for_two'])
            user_rating.append(response["restaurants"][i]["restaurant"]["user_rating"]['aggregate_rating'])
            rating_text.append(response["restaurants"][i]["restaurant"]["user_rating"]['rating_text'])
            votes.append(response["restaurants"][i]["restaurant"]["user_rating"]['votes'])
            all_reviews_count.append(response["restaurants"][i]["restaurant"]["all_reviews_count"])
        except KeyError:
            print(f"restaurant not found! Skipping")
            pass
    
print("---------------------------")
print("Data Retrieval Complete")

#Convert Raw data to DataFrame

brisbane_df = pd.DataFrame({
    'Restaurant_id': restaurant_id,
    'Name': restaurant_name,
    'Locality':restaurant_locality,
    'Address':restaurant_address,
    'City': restaurant_city,
    'Latitude': latitude,
    'Longitude': longitude,
    'Zip Code': zip_code,
   'Cuisines' : cuisines,
    'Price Range' :price_range,
    'Average Cost for two' :average_cost_for_two,
    'User Rating' : user_rating,
    'Rating Text' : rating_text,
    "Votes" : votes,
    "all_reviews_count": all_reviews_count
})


#Exporting the DataFrame into a csv
brisbane_df.to_csv('output_data/restaurants_category_10_brisbane.csv')

---------------------------
Data Retrieval Complete

In [184]:
#Perth data

p = Pyzomato(z_key)

# set up other lists to hold data info
restaurant_name = []
restaurant_id = []
restaurant_address = []
restaurant_locality = []
restaurant_city = []
latitude = []
longitude = []
zip_code = []
cuisines = []
price_range = []
average_cost_for_two = []
user_rating = []
rating_text = []
votes = []
all_reviews_count = []

#Set up a dictionary with the latitude and longitude of the five cities we are interested in:
#cities = {
 #   "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
 #   'lat' : ["-33.8688", "-37.8136", "-27.4698", "-31.9505", "-34.9285"],
 #   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"] 
#}

#Data for 100 top restaurants in Perth - Category =10  - dinner:

# Create a loop that iterates five times starting from 0th record and increases by increments of 20
for a in range(0,100,20):
    response = p.search(lat="-31.9505",lon="115.8605",
                           count=20,
                           sort='rating',
                           order='desc',
                           category=(10),
                           start=a)
    for i in range(0,20,1):
        try:
            restaurant_id.append(response["restaurants"][i]["restaurant"]['id'])
            restaurant_name.append(response["restaurants"][i]["restaurant"]['name'])
            restaurant_locality.append(response["restaurants"][i]["restaurant"]["location"]["locality"])
            restaurant_address.append(response["restaurants"][i]["restaurant"]["location"]["address"])
            restaurant_city.append(response["restaurants"][i]["restaurant"]["location"]["city"])
            latitude.append(response["restaurants"][i]["restaurant"]["location"]["latitude"])
            longitude.append(response["restaurants"][i]["restaurant"]["location"]["longitude"])
            zip_code.append(response["restaurants"][i]["restaurant"]["location"]["zipcode"])
            cuisines.append(response["restaurants"][i]["restaurant"]['cuisines'])
            price_range.append(response["restaurants"][i]["restaurant"]['price_range'])
            average_cost_for_two.append(response["restaurants"][i]["restaurant"]['average_cost_for_two'])
            user_rating.append(response["restaurants"][i]["restaurant"]["user_rating"]['aggregate_rating'])
            rating_text.append(response["restaurants"][i]["restaurant"]["user_rating"]['rating_text'])
            votes.append(response["restaurants"][i]["restaurant"]["user_rating"]['votes'])
            all_reviews_count.append(response["restaurants"][i]["restaurant"]["all_reviews_count"])
        except KeyError:
            print(f"restaurant not found! Skipping")
            pass
    
print("---------------------------")
print("Data Retrieval Complete")

#Convert Raw data to DataFrame

perth_df = pd.DataFrame({
    'Restaurant_id': restaurant_id,
    'Name': restaurant_name,
    'Locality':restaurant_locality,
    'Address':restaurant_address,
    'City': restaurant_city,
    'Latitude': latitude,
    'Longitude': longitude,
    'Zip Code': zip_code,
   'Cuisines' : cuisines,
    'Price Range' :price_range,
    'Average Cost for two' :average_cost_for_two,
    'User Rating' : user_rating,
    'Rating Text' : rating_text,
    "Votes" : votes,
    "all_reviews_count": all_reviews_count
})


#Exporting the DataFrame into a csv
perth_df.to_csv('output_data/restaurants_category_10_perth.csv')

---------------------------
Data Retrieval Complete

In [185]:
#Adelaide data

p = Pyzomato(z_key)

# set up other lists to hold data info
restaurant_name = []
restaurant_id = []
restaurant_address = []
restaurant_locality = []
restaurant_city = []
latitude = []
longitude = []
zip_code = []
cuisines = []
price_range = []
average_cost_for_two = []
user_rating = []
rating_text = []
votes = []
all_reviews_count = []

#Set up a dictionary with the latitude and longitude of the five cities we are interested in:
#cities = {
 #   "city" : ['Sydney',"Melbourne",'Brisbane','Perth','Adelaide'],
 #   'lat' : ["-33.8688", "-37.8136", "-27.4698", "-31.9505", "-34.9285"],
 #   'lon' : ["151.2094", "144.9631","153.0251", "115.8605", "138.6007"] 
#}

#Data for 100 top restaurants in Perth - Category =10  - dinner:

# Create a loop that iterates five times starting from 0th record and increases by increments of 20
for a in range(0,100,20):
    response = p.search(lat="-34.9285",lon="138.6007",
                           count=20,
                           sort='rating',
                           order='desc',
                           category=(10),
                           start=a)
    for i in range(0,20,1):
        try:
            restaurant_id.append(response["restaurants"][i]["restaurant"]['id'])
            restaurant_name.append(response["restaurants"][i]["restaurant"]['name'])
            restaurant_locality.append(response["restaurants"][i]["restaurant"]["location"]["locality"])
            restaurant_address.append(response["restaurants"][i]["restaurant"]["location"]["address"])
            restaurant_city.append(response["restaurants"][i]["restaurant"]["location"]["city"])
            latitude.append(response["restaurants"][i]["restaurant"]["location"]["latitude"])
            longitude.append(response["restaurants"][i]["restaurant"]["location"]["longitude"])
            zip_code.append(response["restaurants"][i]["restaurant"]["location"]["zipcode"])
            cuisines.append(response["restaurants"][i]["restaurant"]['cuisines'])
            price_range.append(response["restaurants"][i]["restaurant"]['price_range'])
            average_cost_for_two.append(response["restaurants"][i]["restaurant"]['average_cost_for_two'])
            user_rating.append(response["restaurants"][i]["restaurant"]["user_rating"]['aggregate_rating'])
            rating_text.append(response["restaurants"][i]["restaurant"]["user_rating"]['rating_text'])
            votes.append(response["restaurants"][i]["restaurant"]["user_rating"]['votes'])
            all_reviews_count.append(response["restaurants"][i]["restaurant"]["all_reviews_count"])
        except KeyError:
            print(f"restaurant not found! Skipping")
            pass
    
print("---------------------------")
print("Data Retrieval Complete")

#Convert Raw data to DataFrame

adelaide_df = pd.DataFrame({
    'Restaurant_id': restaurant_id,
    'Name': restaurant_name,
    'Locality':restaurant_locality,
    'Address':restaurant_address,
    'City': restaurant_city,
    'Latitude': latitude,
    'Longitude': longitude,
    'Zip Code': zip_code,
   'Cuisines' : cuisines,
    'Price Range' :price_range,
    'Average Cost for two' :average_cost_for_two,
    'User Rating' : user_rating,
    'Rating Text' : rating_text,
    "Votes" : votes,
    "all_reviews_count": all_reviews_count
})


#Exporting the DataFrame into a csv
adelaide_df.to_csv('output_data/restaurants_category_10_adelaide.csv')

---------------------------
Data Retrieval Complete

In [187]:
#Concatenate the five dataframes into one called "master"

frames = [sydney_df, melbourne_df, brisbane_df, perth_df, adelaide_df]

master = pd.concat(frames)
master.to_csv('output_data/restaurants_category_10_five_cities.csv')
master.count()

Restaurant_id           500
Name                    500
Locality                500
Address                 500
City                    500
Latitude                500
Longitude               500
Zip Code                500
Cuisines                500
Price Range             500
Average Cost for two    500
User Rating             500
Rating Text             500
Votes                   500
all_reviews_count       500
dtype: int64