### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
number_player = purchase_data["SN"].value_counts()
total_player = len(number_player)
total_player_df = pd.DataFrame({
    "Total Players": [total_player]
})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
nb_items = len(purchase_data["Item ID"].value_counts())
average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#Create a new summary Data Frame
summary_df = pd.DataFrame({
    "Number of Unique Items":[nb_items],
    "Average Price":[average_price],
      "Number of Purchases":[number_purchases],
      "Total Revenue":[total_revenue]
})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Calculation for the total and percentage of male players: 
male_df = purchase_data.loc[purchase_data["Gender"]=="Male",:]
male_players = len(male_df["SN"].value_counts())
male_percentage = (male_players/total_player)*100
male_percentage = f'{male_percentage:.2f}%'

#Calculation for the total and percentage of female players: 
female_df = purchase_data.loc[purchase_data["Gender"]=="Female",:]
female_players = len(female_df["SN"].value_counts())
female_percentage = (female_players/total_player)*100
female_percentage = f'{female_percentage:.2f}%'

#Calculation for the total and percentage of male players: 
other_df = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
other_players = len(other_df["SN"].value_counts())
other_percentage = (other_players/total_player)*100
other_percentage = f'{other_percentage:.2f}%'

gender_summary = pd.DataFrame({
    "":["Male", "Female","Other / Non-Disclosed"],
    "Total Count":[male_players,female_players,other_players],
    "Percentage Count" :[male_percentage,female_percentage,other_percentage]
})
gender_summary.set_index("")

                       Total Count Percentage Count

Male                           484           84.03%
Female                          81           14.06%
Other / Non-Disclosed           11            1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Creating a new dataframe using groupby per gender to identify the 'Purchase count value per gender'
gender_df = pd.DataFrame(purchase_data.groupby(["Gender"]).count())
gender_df

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [8]:
#We are going to use this dataframe 'gender_df' to store the 'purchase count' values per gender 
#and then add the other values calculted.

#Calculating the average purchase price
average_price_gender = pd.DataFrame(purchase_data.groupby(["Gender"]).mean())
#Storing average price values in a series
average_price_series = average_price_gender.iloc[:,3]
#Adding a new column with the average price values in gender_df
gender_df["Average Price"] = average_price_series
gender_df

#Calculating the total purchase value 
total_purchase_gender = pd.DataFrame(purchase_data.groupby(["Gender"]).sum())
#Storing the total purchase values in a series
total_purchase_series = total_purchase_gender.iloc[:,3]
gender_df["Total Purchase"] = total_purchase_series
gender_df

#Calculating the average Total Purchase per Person
Average_person_female = total_purchase_gender.iloc[0,3]/female_players
Average_person_male = total_purchase_gender.iloc[1,3]/male_players
Average_person_others = total_purchase_gender.iloc[2,3]/other_players
Average_person_series= [Average_person_female,Average_person_male,Average_person_others]
#Adding the Average person series into the gender_df 
gender_df["Average Purchase per Person"] = Average_person_series
gender_df

#Formatting gender_df with the right columns
organised_df = gender_df[["Price","Average Price","Total Purchase","Average Purchase per Person"]]
organised_df

,Price,Average Price,Total Purchase,Average Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame