In [29]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
from pprint import pprint

# Resource File (CSV)
five_cities = pd.read_csv("output_data/restaurants_category_10_five_cities.csv")
df = five_cities

In [30]:
#drop null values
df.sort_values("Average Cost for two")

,Unnamed: 0,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Zip Code,Cuisines,Price Range,Average Cost for two,User Rating,Rating Text,Votes,all_reviews_count
448,48,16587373,Cam Wah Chinese & Vietnamese Restaurant,Kilkenny,"33 Kilkenny Rd, Kilkenny Park, Kilkenny, Adelaide",Adelaide,-34.886585,138.548981,5011.0,"Chinese, Vietnamese",1,0,4.4,Very Good,97,29
303,3,16598976,Marumo,Nedlands,"22/145 Stirling Hwy, Nedlands, Nedlands & Dalk...",Perth,-31.980216,115.796659,6907.0,"Japanese, Seafood, Modern Australian",1,0,4.9,Excellent,437,140
321,21,16600545,Bossman Coffee,Mount Lawley,"3/669 Beaufort Street, Mount Lawley, Perth",Perth,-31.933771,115.872299,6050.0,Cafe Food,1,15,4.6,Excellent,297,105
58,58,16568870,Lentil As Anything,Newtown,"391 King Street, Newtown, Sydney",Sydney,-33.899735,151.177852,2042.0,"Vegetarian, Vegan",1,20,4.6,Excellent,195,92
254,54,16591575,Just Soy Cafe,Sunnybank Hills,"Pacific Centre, Shop 1, 8 Lear Street, Sunnyba...",Brisbane,-27.610180,153.054240,4109.0,"Desserts, Asian",1,20,4.5,Excellent,237,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,62,18235287,Amaru,Armadale,"Shop 5, 1121 High Street, Armadale, Melbourne",Melbourne,-37.855972,145.024943,NaN,Contemporary,4,450,4.6,Excellent,331,126
1,1,16558798,Quay,Circular Quay,"Upper Level, Overseas Passenger Terminal 5 Hic...",Sydney,-33.858029,151.209970,2000.0,Modern Australian,4,500,4.9,Excellent,1366,454
110,10,16570775,Attica,Ripponlea,"74 Glen Eira Road, Ripponlea, Melbourne",Melbourne,-37.876924,144.997312,3185.0,"Australian, Contemporary",4,600,4.8,Excellent,1485,491
102,2,16572612,Vue de monde,CBD,"Level 55, Rialto, 525 Collins Street, CBD, Mel...",Melbourne,-37.818954,144.957934,3000.0,"Australian, Contemporary",4,600,4.9,Excellent,3225,986
414,14,16608070,d'Arry's Verandah Restaurant,McLaren Vale,"Osborn Rd, McLaren Vale",Adelaide,-35.198372,138.545242,5171.0,"Modern Australian, Australian",1,25000017,4.6,Excellent,208,93

In [31]:
#drop values where average cost for two is not valid - either $0 or 25000017
clean_cost_for2 = df.loc[(df["Average Cost for two"] != 0) &
                        (df["Average Cost for two"] != 25000017)]
clean_cost_for2["Average Cost for two"].mean()

90.6036217303823

In [36]:
#sort dataframe by user rating and check the data
clean_df = clean_cost_for2
clean_df.sort_values("User Rating")

,Unnamed: 0,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Zip Code,Cuisines,Price Range,Average Cost for two,User Rating,Rating Text,Votes,all_reviews_count
499,99,16586902,East Taste Cafe,"Gouger Street, City Centre","119 Gouger Street, Adelaide",Adelaide,-34.930500,138.595184,5000.0,"Asian, Chinese",2,50,4.2,Very Good,260,82
498,98,16589555,Sukhumvit Soi 38,City Centre,"54 Pulteney Street, Adelaide",Adelaide,-34.923131,138.605479,5000.0,Thai,3,90,4.2,Very Good,145,78
484,84,18050804,Osteria Oggi,"Pirie Street, City Centre","76 Pirie Street, City Centre, Adelaide",Adelaide,-34.925750,138.602556,5000.0,"European, Italian",3,95,4.2,Very Good,254,116
486,86,16588258,Cafe Troppo,"Whitmore Square, City Centre","42 Whitmore Square, Adelaide",Adelaide,-34.933199,138.594901,5000.0,"Coffee and Tea, Cafe Food",2,40,4.2,Very Good,299,111
487,87,16586941,Gaucho's,"Moonta Street, City Centre","91 Gouger Street, Adelaide",Adelaide,-34.930364,138.595978,5000.0,"Argentine, Steak",4,160,4.2,Very Good,505,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,4,16574138,Suzuran,Camberwell,"1025 Burke Road, Camberwell, Melbourne",Melbourne,-37.821765,145.058465,3124.0,"Japanese, Sushi",2,35,4.9,Excellent,803,194
105,5,16575773,Scopri Italian Food & Wine,Carlton,"191, Nicholson Street, Carlton, Melbourne",Melbourne,-37.795718,144.975115,3053.0,Italian,4,180,4.9,Excellent,458,193
106,6,16575846,Pho Hung Vuong Springvale,Springvale,"Shop 2, 15 Balmoral Avenue, Springvale, Melbourne",Melbourne,-37.949409,145.151019,3171.0,"Vietnamese, Pho",2,40,4.9,Excellent,923,305
200,0,16593535,Rogue Bistro,Newstead,"14 Austin Street, Newstead, Brisbane",Brisbane,-27.445894,153.044373,4006.0,Modern Australian,4,140,4.9,Excellent,491,205
0,0,15547004,Restaurant Hubert,CBD,"15 Bligh Street, CBD, Sydney",Sydney,-33.865348,151.210624,2000.0,"French, European",4,150,4.9,Excellent,589,224

In [42]:
#sort dataframe by number of votes and check the data
clean_df.sort_values(by="Votes", ascending= False)
clean_df

,Unnamed: 0,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Zip Code,Cuisines,Price Range,Average Cost for two,User Rating,Rating Text,Votes,all_reviews_count
0,0,15547004,Restaurant Hubert,CBD,"15 Bligh Street, CBD, Sydney",Sydney,-33.865348,151.210624,2000.0,"French, European",4,150,4.9,Excellent,589,224
1,1,16558798,Quay,Circular Quay,"Upper Level, Overseas Passenger Terminal 5 Hic...",Sydney,-33.858029,151.209970,2000.0,Modern Australian,4,500,4.9,Excellent,1366,454
2,2,16559171,Tetsuya's,CBD,"529 Kent Street, CBD, Sydney",Sydney,-33.875143,151.204932,NaN,Japanese,4,440,4.9,Excellent,1234,329
3,3,16569454,LuMi Bar & Dining,Pyrmont,"56 Pirrama Road, \tPyrmont, Pyrmont, Sydney",Sydney,-33.867137,151.197517,2009.0,"Italian, Japanese",4,190,4.9,Excellent,452,196
4,4,15545439,Manpuku,Chatswood,"226 Victoria Avenue, Chatswood, Sydney",Sydney,-33.794417,151.189542,2067.0,"Japanese, Ramen",2,40,4.9,Excellent,486,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,95,16586992,Jolley's Boathouse,City Centre,"1 Jolleys Lane, City Centre, Adelaide",Adelaide,-34.917011,138.600296,5000.0,"Seafood, Modern Australian",4,120,4.2,Very Good,233,93
496,96,16588907,The Gallery,"Waymouth Street, City Centre","30 Waymouth Street, Adelaide, City Centre, Ade...",Adelaide,-34.925872,138.598311,5000.0,"Tapas, Bar Food",4,100,4.2,Very Good,166,89
497,97,16587014,Lenzerheide Restaurant,Kingswood,"146 Belair Road, Kingswood, Adelaide",Adelaide,-34.972047,138.609192,5062.0,European,4,120,4.2,Very Good,233,82
498,98,16589555,Sukhumvit Soi 38,City Centre,"54 Pulteney Street, Adelaide",Adelaide,-34.923131,138.605479,5000.0,Thai,3,90,4.2,Very Good,145,78
499,99,16586902,East Taste Cafe,"Gouger Street, City Centre","119 Gouger Street, Adelaide",Adelaide,-34.930500,138.595184,5000.0,"Asian, Chinese",2,50,4.2,Very Good,260,82

In [48]:
#Reorganising columns so Cuisine is at the end of the dataframe - dropping unnamed.
new_df = clean_df[['Restaurant_id',"Name", "Locality", "Address", "City", "Latitude", "Longitude", "Zip Code", "Price Range", 
                      "Average Cost for two", "User Rating", "Rating Text", "Votes", "all_reviews_count", "Cuisines"]]

In [49]:
#Separating Cuisines data by comma and placing the data into new columns
df = pd.concat([new_df, new_df['Cuisines'].str.split(', ', expand=True)], axis=1)

In [50]:
df.count()

Restaurant_id           497
Name                    497
Locality                497
Address                 497
City                    497
Latitude                497
Longitude               497
Zip Code                478
Price Range             497
Average Cost for two    497
User Rating             497
Rating Text             497
Votes                   497
all_reviews_count       497
Cuisines                497
0                       497
1                       310
2                        76
3                        14
4                         4
5                         2
6                         2
7                         2
dtype: int64

In [51]:
df.to_csv("output_data/clean_fiveCities.csv")